<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Html.Raw(ViewData["Title"])</title>
    <meta charset=utf-8 />
    <meta http-equiv=X-UA-Compatible content="IE=edge" />
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <meta name=google-site-verification content="rBIMdYsqH_JI-JtDEHV5Lac7XIm7mJCoiNYxaeAm4GQ" />
    <meta http-equiv=Content-Language content=vi />

    <meta name="title" content="@Html.Raw(ViewData["Title"])">
    <meta name="description" content="@Html.Raw(ViewData["Description"])" />
    <meta name="keyword" content="@Html.Raw(ViewData["Keywords"])">
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta itemprop="image" content="@Html.Raw(ViewData["SeoImage"])" />

    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:type" content=article />
    <meta property="og:url" content="@Html.Raw(ViewData["SeoLink"])" />
    <meta property="og:title" content="@Html.Raw(ViewData["Title"])" />
    <meta property="og:site_name" content="eProject - Trịnh Xuân Vinh Quy" />
    <meta property="og:description" content="@Html.Raw(ViewData["Title"])" />
    <meta property="og:image:alt" content="@Html.Raw(ViewData["Title"])" />
    <meta name="author" content="eProject - Trịnh Xuân Vinh Quy">
    <link rel="alternate" href="@Html.Raw(ViewData["SeoLink"])" hreflang="vi-vn" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eProject.UI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">eProject.UI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - eProject.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
