<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Html.Raw(ViewData["Title"])</title>
    <meta charset=utf-8 />
    <meta http-equiv=X-UA-Compatible content="IE=edge" />
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <meta name=google-site-verification content="rBIMdYsqH_JI-JtDEHV5Lac7XIm7mJCoiNYxaeAm4GQ" />
    <meta http-equiv=Content-Language content=vi />

    <meta name="title" content="@Html.Raw(ViewData["Title"])">
    <meta name="description" content="@Html.Raw(ViewData["Description"])" />
    <meta name="keyword" content="@Html.Raw(ViewData["Keywords"])">
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta itemprop="image" content="@Html.Raw(ViewData["SeoImage"])" />

    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:type" content=article />
    <meta property="og:url" content="@Html.Raw(ViewData["SeoLink"])" />
    <meta property="og:title" content="@Html.Raw(ViewData["Title"])" />
    <meta property="og:site_name" content="eProject - Trịnh Xuân Vinh Quy" />
    <meta property="og:description" content="@Html.Raw(ViewData["Title"])" />
    <meta property="og:image:alt" content="@Html.Raw(ViewData["Title"])" />
    <meta name="author" content="eProject - Trịnh Xuân Vinh Quy">
    <link rel="alternate" href="@Html.Raw(ViewData["SeoLink"])" hreflang="vi-vn" />

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/lightcase.css">
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    @* font *@
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>
    <!--Loading start-->
    @Html.Partial("_Loading")
    <!--Loading end-->
    <!--Header start-->
    @Html.Partial("_Header")
    <!--Header end-->
    <!--InfoWeb start-->
    @Html.Partial("_InfoWeb")
    <!--InfoWeb end-->
    <!--Cart start-->
    @Html.Partial("_ViewCart")
    <!--Cart end-->
    <div class="overlay"></div>
    @RenderBody()
    <!--Footer start-->
    @Html.Partial("_Footer")
    <!--Footer end-->
    <!--Modal start-->
    @Html.Partial("_Modal")
    <!--Modal end-->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery.meanmenu.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/lightcase.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/tilt.jquery.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/jquery.easing.min.js"></script>
    <script src="~/assets/js/scrollwatch.js"></script>
    <script src="~/assets/js/sticky-header.js"></script>
    <script src="~/assets/js/waypoint.js"></script>
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfpGBFn5yRPvJrvAKoGIdj1O1aO9QisgQ"></script>
    <script src="~/assets/js/jquery-ui-slider-range.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/cart.js"></script>
    <script src="~/assets/js/modal.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
