@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
        .pagination .active span {
            background-color: #C7A17A !important;
            color: #ffffff;
            border-color: #C7A17A !important;
        }

        .pagination a {
            display: flex !important;
            width: 100%;
            height: 100%;
            color: black;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
        }

            .pagination a:hover {
                background-color: #C7A17A !important;
                color: #ffffff;
                border-color: #C7A17A !important;
            }
    </style>
}
@model IEnumerable<eProject.Application.DTOs.Product.ProductCategoryDTO>
<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-overlay="dark" data-opacity="5" data-background="../assets/images/bg/testimonial-bg-2.jpg">
        <div class="shape shape__1"><img src="~/assets/images/shape/breadcrumb-shape-1.png" alt=""></div>
        <div class="shape shape__2"><img src="~/assets/images/shape/breadcrumb-shape-2.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Cửa hàng Cafena</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a asp-controller="Home" asp-action="Index"><span>Trang chủ</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <h1 style="color: #C7A17A; font-size: 15px; font-weight: 600;">@ViewBag.NameH1</h1>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="shop"></div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- blog area start -->
    <div class="blog-area pt-120 pb-105">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="shop-filter-wrapper d-flex justify-content-between align-items-center mb-30">
                        <div class=" sf-left">
                            <div class="show-text">
                                @{
                                    if (Model.Count() > 0)
                                    {
                                        <span>Hiển thị 1–12 trong tổng số @Model.Count() kết quả</span>
                                    }
                                    else
                                    {
                                        <span>Không có kết quả để hiển thị</span>
                                    }
                                }
                            </div>
                        </div>

                        <div class=" sf-right d-flex justify-content-end align-items-center">
                            <nav>
                                <div class="nav" id="shop-filter-tab" role="tablist">
                                    <a class="nav-link active" id="shop-tab-1-tab" data-bs-toggle="tab"
                                       href="#shop-tab-1" role="tab" aria-controls="shop-tab-1"
                                       aria-selected="true"><i class="fas fa-th"></i></a>
                                    <a class="nav-link" id="shop-tab-2-tab" data-bs-toggle="tab" href="#shop-tab-2"
                                       role="tab" aria-controls="shop-tab-2" aria-selected="false"><i class="fas fa-list-ul"></i></a>
                                </div>
                            </nav>
                            <div class="sort-wrapper ml-45">
                                <select name="select" id="select" onchange="redirect()">
                                    <option value="sort">Sắp xếp</option>
                                    <option value="asc">Tăng dần</option>
                                    <option value="desc">Giảm dần</option>
                                    <option value="name">Theo tên</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-8">
                    <div class="tab-content" id="shop-tabContent">
                        <div class="tab-pane fade show mt-none-30 active" id="shop-tab-1" role="tabpanel" aria-labelledby="shop-tab-1-tab">
                            <div class="row">
                                @{
                                    if (Model.Count() > 0)
                                    {
                                        foreach (var pro in Model)
                                        {
                                            <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                                                <div class="pp__item pp__item--2 active text-center pt-20 pb-20">
                                                    <div class="pp__action pp__action--2 d-flex align-items-center justify-content-center">
                                                        <div class="cart d-flex align-items-center justify-content-center">
                                                            <a href="javascript:void(0)" onclick="addToCart('@pro.Id','1')"><i class="fal fa-shopping-basket"></i></a>
                                                        </div>
                                                        <div class="wishlist d-flex align-items-center justify-content-center">
                                                            <a href="#0"><i class="fal fa-heart"></i></a>
                                                        </div>
                                                        <div class="view d-flex align-items-center justify-content-center">
                                                            <a href="/@pro.MetaLink"><i class="fal fa-eye"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="pp__thumb pp__thumb--2 mt-10">
                                                        @if (pro.Images != null && pro.Images.Any())
                                                        {
                                                            <img style="width: 150px" class="default" src="@(pro.Images.First().Image)" alt="">
                                                            @if (pro.Images.Count() > 1)
                                                            {
                                                                <img style="width: 150px" class="on-hover" src="@(pro.Images.Skip(1).First().Image)" alt="">
                                                            }
                                                        }
                                                    </div>

                                                    <div class="pp__content pp__content--2 mt-10">
                                                        <div class="pp__c-top d-flex align-items-center justify-content-center">
                                                            <div class="pp__cat pp__cat--2">
                                                                <a href="/danh-muc-@pro.CategoryMetaLink">@pro.CategoryName</a>
                                                            </div>
                                                        </div>
                                                        <h4 class="pp__title pp__title--2">
                                                            <a href="/@pro.MetaLink">@pro.Name</a>
                                                        </h4>
                                                        <div class="pp__price pp__price--2 d-flex align-items-center justify-content-center">
                                                            <h6 class="label">Giá - </h6>
                                                            @{
                                                                if (pro.Discount > 0)
                                                                {
                                                                    <span class="price"> @Convert.ToInt32(pro.Price - pro.Price * pro.Discount / 100).ToString("C0", new System.Globalization.CultureInfo("vi-VN")).Replace(",", ".")  / <span class="regular"><del>@Convert.ToInt32(pro.Price).ToString("C0", new System.Globalization.CultureInfo("vi-VN")).Replace(",", ".")</del></span></span>
                                                                    <span class="price ml-5" style="color: #00000099">-@pro.Discount%</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="price"> @Convert.ToInt32(pro.Price - pro.Price * pro.Discount / 100).ToString("C0", new System.Globalization.CultureInfo("vi-VN")).Replace(",", ".")</span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="col-xl-4 col-lg-6 col-md-6 ml-20 mt-10">Không có sản phẩm!</div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade mt-none-30" id="shop-tab-2" role="tabpanel" aria-labelledby="shop-tab-2-tab">
                            <div class="row">
                                @{
                                    if (Model.Count() > 0)
                                    {
                                        foreach (var pro in Model)
                                        {
                                            <div class="col-xl-12 mt-30">
                                                <div class="pp__item pp__item--2 pp__item--list active text-center pt-30 pb-25">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4">
                                                            <div class="pp__thumb pp__thumb--2 pp__thumb--list m-0">
                                                                @if (pro.Images != null && pro.Images.Any())
                                                                {
                                                                    <img style="width: 150px" class="default" src="@(pro.Images.First().Image)" alt="">
                                                                    @if (pro.Images.Count() > 1)
                                                                    {
                                                                        <img style="width: 150px" class="on-hover" src="@(pro.Images.Skip(1).First().Image)" alt="">
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8 col-md-8">
                                                            <div class="pp__content pp__content--2 pp__content--list m-0">
                                                                <div class="pp__c-top d-flex align-items-center">
                                                                    <div class="pp__cat pp__cat--2">
                                                                        <a href="/danh-muc-@pro.CategoryMetaLink">@pro.CategoryName</a>
                                                                    </div>
                                                                </div>
                                                                <h4 class="pp__title pp__title--2 pp__title--list">
                                                                    <a href="@pro.MetaLink">@pro.Name</a>
                                                                </h4>
                                                                <div class="pp__price pp__price--2 pp__price--list d-flex align-items-center">
                                                                    <h6 class="label">Giá - </h6>
                                                                    @{
                                                                        if (pro.Discount > 0)
                                                                        {
                                                                            <span class="price"> @Convert.ToInt32(pro.Price - pro.Price * pro.Discount / 100).ToString("C0", new System.Globalization.CultureInfo("vi-VN")).Replace(",", ".")  / <span class="regular"><del>@Convert.ToInt32(pro.Price).ToString("C0", new System.Globalization.CultureInfo("vi-VN")).Replace(",", ".")</del></span></span>
                                                                            <span class="price ml-5" style="color: #00000099">-@pro.Discount%</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="price"> @Convert.ToInt32(pro.Price - pro.Price * pro.Discount / 100).ToString("C0", new System.Globalization.CultureInfo("vi-VN")).Replace(",", ".")</span>
                                                                        }
                                                                    }
                                                                </div>
                                                                <div class="pp__action pp__action--2 pp__action--list d-flex align-items-center mt-15">
                                                                    <div class="cart d-flex align-items-center justify-content-center">
                                                                        <a href="javascript:void(0)" onclick="addToCart('@pro.Id','1')"><i class="fal fa-shopping-basket"></i></a>
                                                                    </div>
                                                                    <div class="wishlist d-flex align-items-center justify-content-center">
                                                                        <a href="#0"><i class="fal fa-heart"></i></a>
                                                                    </div>
                                                                    <div class="view d-flex align-items-center justify-content-center">
                                                                        <a href="/@pro.MetaLink"><i class="fal fa-eye"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="col-xl-4 col-lg-6 col-md-6 ml-20 mt-10">Không có sản phẩm!</div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="cafena-pagination mt-60">
                        <ul>
                            @* <div class="pagination-container mt-4"> *@
                            @if (Model.Count() > 0)
                            {
                                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new
                                    {
                                        page = page,
                                        search = @Context.Request.Query["search"],
                                        query = @Context.Request.Query["query"],
                                    }) + "#shop",
                                         new X.PagedList.Web.Common.PagedListRenderOptions
                            {
                                MaximumPageNumbersToDisplay = 3 // Số lượng trang hiển thị tối đa
                            })
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="blog__sidebar blog__sidebar--shop mt-none-30">
                        <div class="widget mt-30">
                            <h2 class="title">Tìm kiếm</h2>
                            <form asp-controller="Category" asp-action="Index" method="get" class="search-widget">
                                <input type="search" name="search" id="search" placeholder="Tìm kiếm sản phẩm">
                                <button type="submit"><i class="fal fa-search"></i></button>
                            </form>
                        </div>
                        <div class="widget slider-range mt-30">
                            <h2 class="title">Lọc giá</h2>
                            <div id="slider-range" data-min="0" data-max="@ViewBag.MaxPrice"></div>
                            <p class="d-flex justify-content-between align-items-center">
                                <input type="text" id="amount" readonly>
                                <input type="text" id="priceMax" class="d-none" readonly value="@ViewBag.MaxPrice">
                                <input type="text" id="priceMin" class="d-none" readonly value="0">
                                <label for="amount"><a href="javascript:void(0)" class="text-decoration-none" style="color:black; font-weight: 700" onclick="PriceFilter()">Lọc</a></label>
                            </p>
                        </div>
                        <div class="widget mt-30">
                            <h2 class="title">Danh mục sản phẩm</h2>
                            <ul>
                                <li class="cat-item"><a href="/danh-muc-all">Tất cả sản phẩm</a> <span>@ViewBag.CountAllProduct</span></li>
                                @{
                                    foreach (var cate in ViewBag.CategoryProductCount)
                                    {
                                        <li class="cat-item"><a href="/danh-muc-@cate.MetaLink">@cate.Name</a> <span>@cate.CountProduct</span></li>
                                    }
                                }
                            </ul>
                        </div>

                        <div class="widget mt-30">
                            <h2 class="title">Sản phẩm nhiều lượt mua</h2>
                            <div class="recent-posts top-products">
                                @{
                                    foreach (var pro in ViewBag.TopProduct)
                                    {
                                        <div class="item d-flex align-items-center">
                                            <div class="thumb">
                                                <img style="width: 80%" src="@pro.MetaImage" alt="">
                                            </div>
                                            <div class="content">
                                                <div class="rating d-flex align-items-center justify-content-center">
                                                    <a href="#0"><i class="fal fa-star"></i></a>
                                                    <a href="#0"><i class="fal fa-star"></i></a>
                                                    <a href="#0"><i class="fal fa-star"></i></a>
                                                    <a href="#0"><i class="fal fa-star"></i></a>
                                                    <a href="#0"><i class="fal fa-star"></i></a>
                                                </div>
                                                <h5 class="rp-title border-effect"><a href="@pro.MetaLink">@pro.Name</a></h5>
                                                <div class="rp-title" style="font-size: 13px; font-weight: 700">Đã bán @pro.SoldItem sản phẩm</div>
                                                <div class="pp__price">
                                                    @{
                                                        if (pro.Discount > 0)
                                                        {
                                                            <span class="price"> @Convert.ToInt32(pro.Price - pro.Price * pro.Discount / 100).ToString("C0", new System.Globalization.CultureInfo("vi-VN")).Replace(",", ".")  / <span class="regular"><del>@Convert.ToInt32(pro.Price).ToString("C0", new System.Globalization.CultureInfo("vi-VN")).Replace(",", ".")</del></span></span>
                                                            <span class="price ml-5" style="color: #00000099">-@pro.Discount%</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="price"> @Convert.ToInt32(pro.Price - pro.Price * pro.Discount / 100).ToString("C0", new System.Globalization.CultureInfo("vi-VN")).Replace(",", ".")</span>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog area end -->
</main>
@section Scripts {
    <script>
        function show(id) {
            $('.overlay').addClass('show-popup'); // Thêm lớp 'show-popup' cho phần tử có lớp 'overlay'
            $('.product-popup-' + id).addClass('show-popup'); // Thêm lớp 'show-popup' cho phần tử có lớp 'product-popup-{id}'
        }
    </script>
    <script>
        function redirect() {
            var selectElement = document.getElementById('select');
            var selectedValue = selectElement.value;
            var currentURL = new URL(window.location.href);
            var searchParams = currentURL.searchParams;
            if (!searchParams) {
                switch (selectedValue) {
                    case 'sort':
                        currentURL.searchParams.set('query', 'sort');
                        break;
                    case 'asc':
                        currentURL.searchParams.set('query', 'asc');
                        break;
                    case 'desc':
                        currentURL.searchParams.set('query', 'desc');
                        break;
                    case 'name':
                        currentURL.searchParams.set('query', 'name');
                        break;
                    default:
                        break;
                }
            } else {
                switch (selectedValue) {
                    case 'sort':
                        currentURL.searchParams.set('query', 'sort');
                        break;
                    case 'asc':
                        currentURL.searchParams.set('query', 'asc');
                        break;
                    case 'desc':
                        currentURL.searchParams.set('query', 'desc');
                        break;
                    case 'name':
                        currentURL.searchParams.set('query', 'name');
                        break;
                    default:
                        break;
                }
            }
            window.location.href = currentURL.toString();
        }
        // Hàm này được gọi khi trang được load lại sau khi chuyển hướng
        window.onload = function () {
            var selectElement = document.getElementById('select');
            var urlParams = new URLSearchParams(window.location.search);
            var sortParam = urlParams.get('query');

            // Nếu có tham số sort trong URL, chọn option tương ứng
            if (sortParam) {
                selectElement.value = sortParam;
            }

            var priceMin = urlParams.get('priceMin');
            var priceMax = urlParams.get('priceMax');
        }
    </script>
    <script>
        function PriceFilter() {
            var priceMin = $('#priceMin').val();
            var priceMax = $('#priceMax').val();
            var currentURL = new URL(window.location.href);
            var searchParams = currentURL.searchParams;
            currentURL.searchParams.set('priceMin', priceMin);
            currentURL.searchParams.set('priceMax', priceMax);
            window.location.href = currentURL.toString();
        }

        // function addCart(productId, quantity) {
        //     // var count = 1;
        //     if (quantity == 0) {
        //         quantity = $('#txtNumber_' + productId).val();
        //     }
        //     console.log(quantity);
        //     $.ajax({
        //         url: '/Cart/AddToCart',
        //         type: 'POST',
        //         data: {
        //             product: { Id: productId },
        //             quantity: quantity
        //         },
        //         success: function (response) {
        //             if (response.success) {
        //                 showAlertModal('success', 'Thêm vào giỏ hàng thành công!');
        //                 updateCartCount();
        //             } else {
        //                 showAlertModal('danger', response.message);
        //             }
        //         }
        //     });
        // }
    </script>
}