@{
    ViewData["Title"] = "Trang chủ eProject";
    ViewData["Keywords"] = "Từ khoá - eProject";
    ViewData["Description"] = "Mô tả - eProject";
    ViewData["SeoLink"] = ViewData["Host"] + "/eProject";
    ViewData["SeoImage"] = ViewData["Host"] + "/Imgae";
}

<main>
    <!-- hero area start -->
    <section class="hero__area hero__area--2 position-relative custom-padding">
        <span class="shape shape__1 position-absolute"><img src="assets/images/shape/hero-shape-2-1.png" alt=""></span>
        <span class="shape shape__2 position-absolute"><img src="assets/images/shape/hero-shape-2-2.png" alt=""></span>
        <div class="container-fluid custom-width">
            <div class="row mm-reverse">
                <div class="col-xl-6 col-lg-7 align-self-center">
                    <div class="hero__content hero__content--2 position-relative">
                        <h1 class="title mb-10">
                            Hương vị <br>
                            coffee Riêng biệt
                        </h1>
                        <p>Mỗi loại cà phê đều có hương vị riêng biệt, khi phối trộn chúng với nhau theo tỉ lệ nhất định lại cho ra một hương vị hoàn toàn mới.</p>
                        <div class="btns mt-45 d-flex align-items-center justify-content-start">
                            <a href="contact.html" class="site-btn">Đọc thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <div class="hero__thumb hero__thumb--2 position-relative">
                        <img src="assets/images/hero/hero-img-2-1.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- hero area end -->
    <!-- feature slider start -->
    <div class="feature__area feature__area--2 pb-115">
        <div class="container-fluid custom-width">
            <div class="row">
                <div class="col-xl-12">
                    <div class="feature__wrapper">
                        <div class="row mt-none-50">
                            <div class="col-xl-3 col-lg-6 col-md-6 mt-50">
                                <div class="feature__item feature__item--2">
                                    <span class="year">1992</span>
                                    <div class="content mt-20">
                                        <h2 class="title mb-10">Chúng tôi đã bắt đầu như thế nào</h2>
                                        <p>Hành trình của chúng tôi bắt đầu từ niềm đam mê chung và ước mơ mang đến những hương vị cà phê đặc biệt.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 mt-50">
                                <div class="feature__item feature__item--2">
                                    <span class="year">2002</span>
                                    <div class="content mt-20">
                                        <h2 class="title">Hạt cà phê</h2>
                                        <p>Chúng tôi lựa chọn cẩn thận những hạt cà phê tốt nhất, đảm bảo mỗi tách đều thể hiện hương vị giàu và chất lượng không thể sánh kịp.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 mt-50">
                                <div class="feature__item feature__item--2">
                                    <span class="year">2014</span>
                                    <div class="content mt-20">
                                        <h2 class="title">Công việc gia đình</h2>
                                        <p>Dẫn dắt bởi sự tận tụy của gia đình, mỗi bước trong quá trình làm việc của chúng tôi đều phản ánh sự cam kết với sự xuất sắc và truyền thống.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 mt-50">
                                <div class="feature__item feature__item--2">
                                    <span class="year">2019</span>
                                    <div class="content mt-20">
                                        <h2 class="title">Các loại cà phê từ Bangladesh</h2>
                                        <p>Khám phá các loại cà phê của Bangladesh, chúng tôi cố gắng thể hiện đặc điểm địa lý độc đáo và hương vị đa dạng của vùng miền chúng tôi.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- feature slider end -->
    <!-- top grade area start -->
    <section class="topgrade__area topgrade__area--2 grey-bg pt-85 pb-85 position-relative">
        <span class="shape shape__1 position-absolute"><img src="assets/images/shape/top-grade-shape-2-1.png" alt=""></span>
        <span class="shape shape__2 position-absolute"><img src="assets/images/shape/top-grade-shape-2-2.png" alt=""></span>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="section-heading section-heading__black mb-55">
                        @* <span class="sub-title">Chất lượng hàng đầu</span> *@
                        <h2 class="title">Danh mục sản phẩm</h2>
                    </div>
                </div>
            </div>
            <div class="feature__slider owl-carousel slider-nav">
                @{
                    int count = 0;
                    foreach (var item in ViewBag.Category)
                    {
                        count++;
                        if (count % 2 == 0)
                        {
                            <div class="feature__item">
                                <div class="mt-30">
                                    <div class="topgrade__item topgrade__item--2 text-center">
                                        <div class="thumb">
                                            <img src="@item.MetaImage" alt="">
                                            <span class="count">@count</span>
                                        </div>
                                        <div class="content mt-20">
                                            <a href="/danh-muc-@item.MetaLink" class="text-decoration-none title">
                                                @item.MetaTitle
                                            </a>
                                            <p>@item.MetaDescription</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        if (count % 2 == 1)
                        {
                            <div class="feature__item">
                                <div class="mt-85">
                                    <div class="topgrade__item topgrade__item--2 text-center">
                                        <div class="thumb">
                                            <img src="@item.MetaImage" alt="">
                                            <span class="count">@count</span>
                                        </div>
                                        <div class="content mt-20">
                                            <a href="/danh-muc-@item.MetaLink" class="text-decoration-none title">
                                                @item.MetaTitle
                                            </a>
                                            <p>@item.MetaDescription</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </section>
    <!-- top grade area end -->
    <!-- top grade area start -->
    <section class="topgrade__area topgrade__area--2 pt-85 pb-85 position-relative">
        <span class="shape shape__1 position-absolute"><img src="assets/images/shape/top-grade-shape-2-1.png" alt=""></span>
        <span class="shape shape__2 position-absolute"><img src="assets/images/shape/top-grade-shape-2-2.png" alt=""></span>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="section-heading section-heading__black mb-55">
                        @* <span class="sub-title">Chất lượng hàng đầu</span> *@
                        <h2 class="title">Sản phẩm giảm giá</h2>
                    </div>
                </div>
            </div>
            <div class="feature__slider owl-carousel slider-nav">
                <div class="feature__item">
                    <div class="pp__item pp__item--2 active text-center pt-20 pb-20 w-100" style="background-color:#ffffff73">
                        <div class="pp__action pp__action--2 d-flex align-items-center justify-content-center">
                            <div class="cart d-flex align-items-center justify-content-center">
                                <a href="#0"><i class="fal fa-shopping-basket"></i></a>
                            </div>
                            <div class="wishlist d-flex align-items-center justify-content-center">
                                <a href="#0"><i class="fal fa-heart"></i></a>
                            </div>
                            <div class="view d-flex align-items-center justify-content-center">
                                <a href="#0"><i class="fal fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="pp__thumb pp__thumb--2 mt-35">
                            <img style="width: 80px" class="default" src="assets/images/products/shop/s-p-1.png" alt="">
                            <img style="width: 80px" class="on-hover" src="assets/images/products/shop/s-p-2.png" alt="">
                        </div>
                        <div class="pp__content pp__content--2 mt-25">
                            <div class="pp__price--2 pp__title pp__title--2">
                                <a class=" label" href="#0">Rosted Coffee</a>
                            </div>
                            <div class="pp__title pp__title--2">
                                <a href="product-details.html">vicaragua Coffee Beans</a>
                            </div>
                            <div class="pp__price pp__price--2 d-flex align-items-center justify-content-center">
                                <h6 class="label">Price - </h6>
                                <span class="price"> $325.00 / <span class="regular"><del>$348</del></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- top grade area end -->
    <!-- about area start -->
    <section class="about__area about__area--2 grey-bg position-relative pt-120 pb-130">
        <span class="shape shape__1 position-absolute"><img src="assets/images/shape/about-shape-2-1.png" alt=""></span>
        <span class="shape shape__2 position-absolute"><img src="assets/images/shape/about-shape-2-2.png" alt=""></span>
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-7">
                    <div class="about__left about__left--2 position-relative">
                        <img class="big" src="assets/images/about/about-img-2-1.png" alt="img">
                        <img class="small position-absolute" src="assets/images/about/about-img-2-2.png" alt="img">
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1">
                    <div class="about__right about__right--2 pl-45 pt-45">
                        <div class="section-heading section-heading__black">
                            <span class="sub-title">về chúng tôi</span>
                            <h2 class="title mb-25">
                                Một trong những quán cà phê tốt nhất ở quê nhà của bạn
                            </h2>
                            <p>Cà phê rang đậm (dark roast) có hương vị mạnh mẽ và đậm đà, thường được dùng để pha chế espresso hoặc các loại cà phê có thêm sữa.</p>
                            <p>Cà phê rang vừa (medium roast) có vị cân bằng giữa vị đắng và vị chua, phù hợp cho cả pha cà phê đen và cà phê sữa. Đây là loại rang phổ biến nhất hiện nay.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about area end -->
    <!-- blog area start -->
    <div class="blog__area blog__area--2 position-relative pt-115 pb-120">
        <span class="shape shape__1">
            <img src="assets/images/shape/blog-shape-2-1.png" alt="">
        </span>
        <span class="shape shape__2">
            <img src="assets/images/shape/blog-shape-2-2.png" alt="">
        </span>
        <div class="container">
            <div class="row align-items-end mb-60">
                <div class="col-lg-8">
                    <div class="section-heading section-heading__black">
                        <span class="sub-title">Tin tức</span>
                        <h2 class="title">Tin tức mới nhất</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="btns-wrapper text-center text-lg-end">
                        <a href="about.html" class="site-btn">Tìm hiêu</a>
                    </div>
                </div>
            </div>
            <div class="row mt-none-30">
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                    <article class="blog__item blog__item--2">
                        <div class="thumb position-relative">
                            <div class="img">
                                <img src="assets/images/blog/blog-2-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="content content__2">
                            <ul class="blog__meta blog__meta--2 list-unstyled d-flex align-items-center justify-content-start">
                                <li><span>By: </span> Vinh Quy</li>
                            </ul>
                            <h3 class="blog__title blog__title--2 border-effect">
                                <a href="blog-details.html">Những câu hỏi doanh nghiệp cần có khả năng trả lời</a>
                            </h3>
                            <div class="btn-wrapper mt-15 d-flex justify-content-between">
                                <a href="blog-details.html" class="read-more read-more__2">Đọc thêm <i class="fa fa-long-arrow-right"></i></a>
                                <a href="#0" class="share-btn"><i class="fal fa-share-alt"></i></a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                    <article class="blog__item blog__item--2">
                        <div class="thumb position-relative">
                            <div class="img">
                                <img src="assets/images/blog/blog-2-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="content content__2">
                            <ul class="blog__meta blog__meta--2 list-unstyled d-flex align-items-center justify-content-start">
                                <li><span>By: </span> Vinh Quy</li>
                            </ul>
                            <h3 class="blog__title blog__title--2 border-effect">
                                <a href="blog-details.html">Bắt đầu một buổi sáng tuyệt vời với cà phê Cafena</a>
                            </h3>
                            <div class="btn-wrapper mt-15 d-flex justify-content-between">
                                <a href="blog-details.html" class="read-more read-more__2">Đọc thêm <i class="fa fa-long-arrow-right"></i></a>
                                <a href="#0" class="share-btn"><i class="fal fa-share-alt"></i></a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                    <article class="blog__item blog__item--2">
                        <div class="thumb position-relative">
                            <div class="img">
                                <img src="assets/images/blog/blog-2-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="content content__2">
                            <ul class="blog__meta blog__meta--2 list-unstyled d-flex align-items-center justify-content-start">
                                <li><span>By: </span> Vinh Quy</li>
                            </ul>
                            <h3 class="blog__title blog__title--2 border-effect">
                                <a href="blog-details.html">Những ly cocktail tuyệt hảo từ các bartender của chúng tôi</a>
                            </h3>
                            <div class="btn-wrapper mt-15 d-flex justify-content-between">
                                <a href="blog-details.html" class="read-more read-more__2">Đọc thêm <i class="fa fa-long-arrow-right"></i></a>
                                <a href="#0" class="share-btn"><i class="fal fa-share-alt"></i></a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!-- blog area end -->
</main>
